<header class="banner">
    <div class="banner-content">
        <div class="container">
            <h1>{{title}}</h1>
            <p>{{subTitle}}</p>
            
        </div>
    </div>
</header>
<main>
    <section class="research">
        <img src="{{research.image}}" alt="Research Image">
        <h2>{{research.title}}</h2>
         <p>{{research.subTitle}}</p>
         <p>{{research.shortDescription}}</p>
    

    </section>
</main>


